.profile{
    display: flex;
}

.profileRight{
    flex: 9;
}

.profileCover{
    /* height: 320px; */
    position: relative;
}

.profileCoverImg{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.profileUserImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 150px;
}
.img_container {
    position: relative;
}
.profile_container {
    display: flex;
    justify-content: center;
    margin-top: -6%;
}
.img_container img {
    width: 150px;
    height: 150px;
    border-Radius: 50%;
    object-Fit: cover;
    left: 0;
    right: 0;
    margin: auto;
    top: 150px;
    
}
.img_container:hover img {
opacity: 0.4;

}
.img_container:hover .overlay {
    opacity: 1;
    
}
.overlay {
    transition: 0.5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    position: absolute;
    border-Radius: 50%;
    left: 50%;
    top: 50%;
}


.profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileInfoName{
    font-size: 24px;
}

.profileInfoDesc{
    font-weight: 300;
}

.profileRightBottomAll{
    display: flex;
}

.postBoxBotSmile {
    padding-right: 5%;
}

.postBox, 
.profilePost{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.profilePost{
    margin-top: 50px;
}

.postBox .postBoxTop{
    padding: 15px;
    display: flex;
}
.postBox .postBoxTop .avatar{
    width: 80;
    height: 80px;
    border-radius: 50%;
}
.postBox .postBoxTop p{
    color: gray;
    margin: 15px 0 0 20px;
}

.postBox .postBoxBot{
    display: flex;
    margin: 40px 0 0 50px;
}
.profileRightBottom {
    width: 100%;
}
.profileRightBottom .postBox {
    width: 100%;
    height: 28%;
    margin-top: 4%;
}
.postBoxBot {
    display: flex;
    justify-content: space-between;
}
.postBoxBotRow {
    display: flex;
    align-items: center;
}
@media screen and (max-width:775px) {
    .postBoxMid {
        width: 90%;
    }
}
@media screen and (max-width:440px) {
    .postBoxBot{
        display: flex;
        padding-bottom: 5%;
        flex-direction: column;
    }
    .postBoxBotRow {
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
    }
    .postBoxMid {
        width: 80%;
    }
}
.postBox .postBoxBot .addPhotoIcon,
.postBox .postBoxBot .addSmileIcon{
    width:40px;
    height:40px;
    margin-right: 10px; 
    cursor: pointer;
}

.postBox .postBoxBot  p{
    cursor: pointer;
}

.profilePost .profilePostTop .profilePostTopInfo{
    display: flex;
    padding: 15px;
}

 .profilePost .profilePostTop .profilePostTopInfo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profilePost .profilePostTop .profilePostTopInfo h4{
    margin: 10px 0 0 20px;
}

.profilePost .profilePostTop .profilePostTopDesc p{
    margin: 10px 0 0 20px;
}

.profilePost .profilePostTop .profilePostTopDesc{
    overflow-x:hidden; 
    max-width: 880px;
}

.profilePost .profilePostMid img{
    width: 800px auto;
    height: 508px auto;
}

.profilePost .profilePostMid{
    padding: 20px;
}

.profilePost .profilePostBot{
    padding: 20px;
    display: flex;
}

.profilePost .profilePostBot .profilePostBotLikes p{
    margin: -30px 0 0 40px;
}

.profilePost .profilePostBot h4{
    margin: 0 0 0 600px;
    cursor: pointer;
    text-decoration: underline;
}

.profileRightBottomLeft{
    margin-left: 40px;
}

.profileShare{
    display: flex;
}

.profileInputFile{
    display: none;
}

.profileShare label {
    margin-left: 50px;
}

